In [1]:
import requests
import pandas as pd

In [2]:
response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=10').json()

In [6]:
popularity=[]
vote_count=[]
overview=[]
title=[]
vote_avg=[]
original_language=[]
release_date=[]
for i in response['results']:
    popularity.append(i['popularity'])
    vote_count.append(i['vote_count'])
    overview.append(i['overview'])
    title.append(i['title'])
    vote_avg.append(i['vote_average'])
    release_date.append(i['release_date'])
    original_language.append(i['original_language'])
d={'title':title ,'overview':overview , 'original_language':original_language , 'release_date':release_date ,'popularity':popularity , 'vote_count':vote_count , 'vote_avg':vote_avg}
df=pd.DataFrame(d)

In [20]:
final=pd.DataFrame()
for j in range(1,501):
    response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(j)).json()
    popularity=[]
    vote_count=[]
    overview=[]
    title=[]
    vote_avg=[]
    original_language=[]
    for i in response['results']:
        popularity.append(i['popularity'])
        vote_count.append(i['vote_count'])
        overview.append(i['overview'])
        title.append(i['title'])
        vote_avg.append(i['vote_average'])
        original_language.append(i['original_language'])
    d={'title':title ,'overview':overview , 'original_language':original_language  ,'popularity':popularity , 'vote_count':vote_count , 'vote_avg':vote_avg}
    df=pd.DataFrame(d)
    
    final=final.append(df,ignore_index=True)

In [21]:
final

,title,overview,original_language,popularity,vote_count,vote_avg
0,Ad Astra,"The near future, a time when both hope and har...",en,453.361,2875,5.9
1,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,en,315.622,2653,7.1
2,Bloodshot,"After he and his wife are murdered, marine Ray...",en,241.513,1419,7.2
3,Birds of Prey (and the Fantabulous Emancipatio...,"Harley Quinn joins forces with a singer, an as...",en,209.518,2717,7.1
4,Star Wars: The Rise of Skywalker,The surviving Resistance faces the First Order...,en,188.203,3834,6.5
...,...,...,...,...,...,...
9995,Lebanon,"During the First Lebanon War in 1982, a lone t...",he,8.311,101,6.4
9996,Pokémon Heroes: Latios and Latias,"Satoshi, Pikachu and his friends try and stop ...",ja,11.059,170,6.3
9997,The Captain,Based on the true story of a pilot who had to ...,zh,9.372,14,6.9
9998,Feast of Love,A meditation on love and its various incarnati...,en,9.061,123,6.1
9999,Our Souls at Night,"Addie Moore and Louis Waters, a widow and wido...",en,7.576,247,6.6